.Profile{
  box-shadow:  5px 5px 12px 10px #636464;
}
  .profile-picture img{
    border: 3px solid saddlebrown;
    border-radius: 0px 0px 30% 0px;
    
  }
  .btn-custom {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 25px; /* حواف دائرية للزر */
    background: linear-gradient(135deg, #007bff, #00bcd4); /* تدرج لوني جذاب */
    color: white;
    cursor: pointer;
    transition: all 0.3s ease; /* تأثير التغيير عند التفاعل */
    margin-top: 10px;
  }
  .btn-custom:hover {
    background: linear-gradient(135deg, #00bcd4, #007bff); /* تغيير التدرج اللوني عند التفاعل */
    transform: translateY(-3px); /* رفع الزر قليلاً عند التفاعل */
  }
  
  .btn-custom:focus {
    outline: none; /* إزالة التركيز الافتراضي */
  }
  
  .btn-custom:active {
    transform: translateY(1px); /* تحريك الزر للأسفل عند الضغط عليه */
  }

